<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<!-- ============================================= -->
	<!-- = Header -->
	<!-- ============================================= -->
	<head>
		<title>404 - CWExplorer</title>
		<link rel="stylesheet" type="text/css" href="css/common.css"/>
		<!-- Links to a google font named "Lobster Two", which is used only in the main website title -->
		<link href='http://fonts.googleapis.com/css?family=Lobster+Two:700' rel='stylesheet' type='text/css'/>
	</head>
	
	<!-- ============================================= -->
	<!-- = Body -->
	<!-- ============================================= -->
	<body>
		<div class="wrapper">

			<!-- ============================================= -->
			<!-- = The top part of the website -->
			<!-- ============================================= -->
			
			<!-- = Main website title -->
			<div class="brandingTitle">
				<h2 id="siteTitle1">Common Weakness</h2>
				<h1 id="siteTitle2">Explorer</h1>
			</div>
			
			<!-- = Website header bar -->
			<div class="header">
			
				<!-- = Website navigation bar -->
				<div class="navBar">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="search.html">Search</a></li>
						<li><a href="members.html">About</a></li>
					</ul>
				</div>
			</div>

			<!-- ============================================= -->
			<!-- = The main contents of the page -->
			<!-- ============================================= -->
			<div class="mainContent">
				
				<!-- A simple 404 message -->
				<div style="width: 30%; margin-left: auto; margin-right: auto;">
					<h3 style="margin-top: 50px; margin-bottom: 0px;">Sorry,</h3>
					<p style="margin-top: 10px; margin-bottom: 10px; text-align: justify;">
						but the page you're looking for could not be found. The link could be broken or you may have mistyped the url. Try navagating to the <a href="home.html">Home</a> page or the <a href="search.html">Search</a> page.
					</p>
					<h6 style="margin-top: 0px; margin-bottom: 50px; color: grey;">404 error</h6>
				</div>
				
			</div> <!-- End mainContent -->
				
			<!-- ============================================= -->
			<!-- = The footer that contains misc. info -->
			<!-- ============================================= -->
			<div class="footer">
				CWE is a trademark of The MITRE Corporation
				<br/>
				&#169;2013<a href="http://www.unomaha.edu/" target="_blank">University of Nebraska at Omaha.</a>All rights Reserved.
			</div>
			
		</div> <!-- End wrapper -->
		
	</body>
</html>
