<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>CWExplorer</title>
		<link rel="stylesheet" type="text/css" href="/css/common.css"/>
		<link href='http://fonts.googleapis.com/css?family=Lobster+Two:700' rel='stylesheet' type='text/css'/>
		
				<!-- Syntax highlighting stuff -->
		<script type="text/javascript" src="scripts/sh_main.js"></script>
		<script type="text/javascript" src="scripts/lang/sh_c.js"></script>
		<script type="text/javascript" src="scripts/lang/sh_cpp.js"></script>
		<script type="text/javascript" src="scripts/lang/sh_java.js"></script>
		<link rel="stylesheet" type="text/css" href="sh_nedit.css"/>
	</head>
	
	<body onload="sh_highlightDocument();">
		<div class="wrapper">

			<div class="brandingTitle">
				<h2 id="siteTitle1">Common Weakness</h2>
				<h1 id="siteTitle2">Explorer</h1>
			</div>
			
			<div class="header">
				<div class="navBar">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/search/">Search</a></li>
						<li><a href="/members/">About</a></li>
					</ul>
				</div>
			</div>
			
			<div class="mainContent">
			
				<div class="cweDetails">
					{% if cwe_result %}
						{% autoescape off %}
							{{ cwe_result }}
						{% endautoescape %}
					{% endif %}
				</div>
				
			</div>
				
			<div class="footer">
				CWE is a trademark of The MITRE Corporation
				<br/>
				&#169;2013<a href="http://www.unomaha.edu/" target="_blank">University of Nebraska at Omaha.</a>All rights Reserved.
			</div>
		</div>
	</body>
	
</html>
