<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>CWExplorer</title>
		<link rel="stylesheet" type="text/css" href="common.css"/>
		<link rel="stylesheet" type="text/css" href="index.css"/>
		<link href='http://fonts.googleapis.com/css?family=Lobster+Two:700' rel='stylesheet' type='text/css'/>
	</head>
	
	<body>
		<div class="wrapper">

			<div class="brandingTitle">
				<h2 id="siteTitle1">Common Weakness</h2>
				<h1 id="siteTitle2">Explorer</h1>
			</div>
			
			<div class="header">
				<div class="navBar">
					<ul>
						<li id="home">Home</li>
						<li><a href="search.html">Search</a></li>
						<li><a href="">Graph</a></li>
					</ul>
				</div>
			</div>
			
			<div class="mainContent">
			
				<div class="summaryText">
					<h3>What is the purpose of this site?</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam facilisis malesuada porttitor. 
						Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce malesuada mi eu tellus 
						placerat aliquet. Mauris sit amet laoreet mauris, et mattis lacus. Etiam id orci urna. 
						Pellentesque iaculis feugiat lorem a pellentesque. Integer sodales dui id gravida scelerisque. 
						Quisque vestibulum tincidunt ante. Aliquam at massa quis erat commodo pharetra in vel urna. 
						Etiam nec lorem lacinia, fringilla erat nec, ullamcorper erat. Class aptent taciti sociosqu ad 
						litora torquent per conubia nostra, per inceptos himenaeos.
					</p>
					
					<div class="searchButton">
						<h5><a href="search.html">Search</a></h5>
					</div>
					
					<div class="visualButton">
						<!-- TODO: Add a real link -->
						<h5><a href="">Visual Graph</a></h5>
					</div>
				</div>
				
				<div class="summaryCwe">
					<h3>What is a CWE?</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam facilisis malesuada porttitor. 
						Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce malesuada mi eu tellus 
						placerat aliquet. Mauris sit amet laoreet mauris, et mattis lacus. Etiam id orci urna. 
						Pellentesque iaculis feugiat lorem a pellentesque. Integer sodales dui id gravida scelerisque.
					</p>
					
					<a href="http://cwe.mitre.org/">Explore more about the CWE</a>
					<br/>					
				</div>
				
			</div>
				
			<div class="footer">
				<h3>&copy; Footer</h3>
			</div>
		</div>
	</body>
	
</html>
