<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8">
		<title>CWExplorer</title>
		<link rel="stylesheet" type="text/css" href="/common.css"/>
		<link href='http://fonts.googleapis.com/css?family=Lobster+Two:700' rel='stylesheet' type='text/css'/>
	</head>
	
	<body>
		<div class="wrapper">

			<div class="brandingTitle">
				<h2 id="siteTitle1">Common Weakness</h2>
				<h1 id="siteTitle2">Explorer</h1>
			</div>
			
			<div class="header">
				<div class="navBar">
					<ul>
						<li><a href="/django/">Home</a></li>
						<li><a href="/django/search/">Search</a></li>
					</ul>
				</div>
			</div>
			
			<div class="mainContent">
				
				<h3 style="margin-bottom:0px; margin-left: 15px;">Capstone Group Members</h3>
				<table cellpadding="5" style="margin: 20px; margin-left: 30px;">
				<tr>
					<td>
						<span style="font-weight: bold;">Douglas Richardson:</span>
					</td>
					<td>
						Project Manager/Programmer
					</td>
				</tr>
				<tr>
					<td>
						<span style="font-weight: bold;">Jonathan Von Kampen:</span>
					</td>
					<td>
						Security Programmer
					</td>
				</tr>
				<tr>
					<td>
						<span style="font-weight: bold;">Nicholas Watkins:</span>
					</td>
					<td>
						General Programmer
					</td>
				</tr>
				<tr>
					<td>
						<span style="font-weight: bold;">Christopher Fibich:</span>
					</td>
					<td>
						UI/UX Designer & Developer
					</td>
				</tr>
				</table>
				
			</div>
				
			<div class="footer">
				CWE is a trademark of The MITRE Corporation
				<br/>
				&copy;2013<a href="http://www.unomaha.edu/" target="_blank">University of Nebraska at Omaha.</a>All rights Reserved.
				<br/>
				Fall 2013 Computer Science<a href="/django/members">Capstone Project.</a>
			</div>
		</div>
	</body>
	
</html>
