<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>CWExplorer</title>
		<link rel="stylesheet" type="text/css" href="/common.css"/>
		<link rel="stylesheet" type="text/css" href="/index.css"/>
		<link href='http://fonts.googleapis.com/css?family=Lobster+Two:700' rel='stylesheet' type='text/css'/>
	</head>
	
	<body>
		<div class="wrapper">

			<div class="brandingTitle"> 
                                <h2 id="siteTitle1">Common Weakness</h2> 
                            	<h1 id="siteTitle2">Explorer</h1>
                        </div>

			<div class="header">
				
                                 <div class="navBar"> 
                                         <ul> 
                                                 <!-- TODO: Add real links --> 
                                                 <li><a href="/django/">Home</a></li> 
                                                 <li><a href="/django/search/">Search</a></li> 
                                         </ul> 
                                 </div>
		
			</div>

			<div class="mainContent">

				A CWE will soon be displaying here
			</div>
		</div>
	</body>
</html>
