body {
	background-color: #A19B88;
}


.wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	
	font-family: Georgia, serif;
	color: #3E3F41;
}

.wrapper a:link, .wrapper a:visited {
	text-decoration: none;
	padding: 6px;
	color: #007ACC;
}

.wrapper a:hover, .wrapper a:active {
	color: #A19B88;
}

.brandingTitle {
	text-shadow: 1px 1px grey;
	position: relative;
	left: 5%;
	margin: 35px;
}

#siteTitle1 {
	margin: 0px;
	margin-top: 25px;
}

#siteTitle2 {
	margin: 0px;
	margin-left: 30px;
	margin-top: -10px;
	font-family: 'Lobster Two', cursive;
	color: #007ACC;
	font-size: 52px;
}

.header {
	border-style: solid;
	border-width: 3px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-color: #2C2918;
	background-color: #2C2918;
}

.navBar {
	position: relative;
	left: -10px;
	margin: 10px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

.navBar a:link, .navBar a:visited {
	text-decoration: none;
	color: #007ACC;
}

.navBar a:hover, .navBar a:active {
	color: white;
}

.header ul {
	list-style-type: none;
	display: inline;
}

.header li {
	display: inline;
	padding: 16px;
	padding-left: 30px;
	padding-right: 30px;
}

#home {
	color: white;
}

.mainContent {
	border-style: solid;
	border-width: 3px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-color: #2C2918;
	background-color: #F7F7F7;
	margin-bottom: 10px;
	overflow: auto;
}

.footer {
	border-style: none;
	border-width: 3px;
	border-radius: 5px;
	border-color: #2C2918;
	margin-top: 10px;
	text-align: center;
	clear: both;
}

.footer a:hover, .footer a:active {
	color: white;
}